@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body
{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
.container
{
  min-height:100vh;
}

.row
{
  display: flex;
  height: 100vh !important;
}

.col
{
  flex:1 1 0;
  padding: 20px;
}

.bg-design
{
  background-image: url("img/back.png") !important;
  background-position: right top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.app-name
{
  font-weight: bold;
  font-size: 20px;
}

.text-theme
{
  color:#3B3CD4
}

.app-description
{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-holder
{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meme-template
{
  max-height: 70%;
  max-width: 50%;
  border: 10px solid #fff;
}

.meme-form
{
  width: 50%;
  margin: 20px 0px;
  position: relative;
}

.meme-form input
{
    width: calc(100% - 20px);
    display: block;
    margin:10px;
    padding: 10px;
}

.post-btn
{
  width: 100% !important;
  padding: 20px 0px;
  background-color: #3B3CD4;
  color: #fff;
  border:0px solid transparent
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .row
    {
      flex-direction: column-reverse;
      height :fit-content !important
    }
    .bg-design
    {
      background-size:100% 50% !important 
    }
    .meme-form
    {
      width:100% !important
    }
    .meme-form label
    {
      margin:15px !important;
      display: block;
    }
    .meme-template
    {
      margin:0px auto
    }
 }
 @media all and (max-width: 480px) {
    .row
    {
      flex-direction: column-reverse;
      height :fit-content !important
    }
    .bg-design
    {
      background-size:100% 50% !important 
    }
    .meme-form
    {
      width:100% !important
    }
    .meme-form label
    {
      margin:15px !important;
      display: block;
    }
    .meme-template
    {
      max-height: 90%;
      max-width: 80%;
    }
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    .row
    {
      flex-direction: column-reverse;
      height :fit-content !important
    }
    .bg-design
    {
      background-size:100% 50% !important 
    }
    .meme-form
    {
      width:100% !important
    }
    .meme-form label
    {
      margin:15px !important;
      display: block;
    }
    .meme-template
    {
      margin:0px auto
    }
   }
